<h1>Complaints</h1>
<% @complaints.each do |variable| %>
<div><%= variable.title =%></div>
<div><%= variable.description =%></div>
<div><%= cl_image_tag(variable.screenshot, :width=>300, :height=>100, :crop=>"scale") %></div>

<% end %>
